.wrapper {
  position: absolute;
  display: block;
  line-height: 0;
  will-change: transform;
}

.behind {
  width: 100%;
}

.BG {
  width: 100%;
}

.front {
  // max-width: 60vh;
  // max-height: 80vh;
  width: 60vh;
  // height: auto;
}

.shrink {
  width: 0px;
  // height: 2vh;
}
